<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet">
    <title>About</title>
</head>
<body class="bg-base-200 text-base-content">
    <header class="bg-primary text-white p-4 flex justify-between items-center">
        <a href="/" class="text-2xl font-bold">Climate Solutions</a>
        <nav class="space-x-4">
            <a class="active" href="/about">About</a>
            <a href="/">Home</a>
            <div class="dropdown">
                <label tabindex="0" class="btn m-1">Sector</label>
                <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
                    <li><a href="/solutions/projects?sector=industry">Industry</a></li>
                    <li><a href="/solutions/projects?sector=environment">Environment</a></li>
                    <li><a href="/solutions/projects?sector=social">Social</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container mx-auto p-8">
        <div class="hero bg-base-300 p-10 rounded-lg">
            <h1 class="text-5xl font-bold">About</h1>
           
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-8">
            <div>
                <img src="https://ichef.bbci.co.uk/ace/standard/976/cpsprodpb/2B08/production/_127561011_climate_5_cc_index_and_article_image_template_976-ncclimate_change_article_image_template_976-nc.png.webp" alt="About Me" class="rounded-lg"/>
            </div>
            <div class="flex items-center">
                <p>I am a student with a passion for climate solutions. My hobbies include hiking, coding, and learning about sustainability.</p>
            </div>
        </div>
    </main>
    <footer class="bg-primary text-white p-4 text-center">
        <p>&copy; 2024 Climate Solutions</p>
    </footer>
</body>
</html>
