<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css"> 
    <title>Home</title>
</head>
<body>
    <%- include('partials/navbar', { page: '/' }) %>
    <div class="container mx-auto">
        <h1 class="text-3xl font-bold my-4">Welcome to the Home Page</h1>
        <p class="text-lg">Explore our platform and learn more about our amazing projects!</p>
    </div>
</body>
</html>
